@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.awsui_tabs-header-list_14rmt_1xftp_298.awsui_tabs-header-list_1acwa_dp0cl_5 {
  justify-content: center;
}


.chat-container {
  height: calc(100vh - 180px);
}

.steps:not(:has(.steps)) {
  margin-left: 40px;
  text-indent: -20px!important;
  cursor: pointer!important;

  span {
    word-break: break-word!important;
  }
}
.step-container:not(:last-child)::after {
  content: "|";
  padding-left: 3px;
}
